<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'users/info', user: @user %>
      <h2 class="mt-3">New book</h2>
      <%= render 'form', book: @new_book %>
    </div>
    <div class='col-md-8 offset-md-1'>
  		<h2>Book detail</h2>
  		<table class='table'>
  		  <tr>
          <td><%= link_to(@book.user) do %>
            <%= image_tag @book.user.get_profile_image, size:"50x50" %><br>
            <%= @book.user.name %>
            <% end %>
          </td>
          <td><%= link_to @book.title, @book %></td>
          <td><%= @book.body %></td>
          <td>
          <% if @book.favorited_by?(current_user) %>
          <p>
            <%= link_to book_favorites_path(@book), method: :delete do %>
            ❤<%= @book.favorites.count %>
            <% end %>
          </p>
          <% else %>
          <p>
            <%= link_to book_favorites_path(@book), method: :post do %>
            💙<%= @book.favorites.count %>
            <% end %>
          </p>
          <% end %>
        </td>
        <td>
          <p>コメント数：<%= @book.book_comments.count %></p>
        </td>
        <td>
        <% if @user == current_user %>
            <td><%= link_to 'Edit', edit_book_path(@book), class: "btn btn-sm btn-success" %></td>
            <td><%= link_to 'Destroy', @book, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
          <% end %>
        </td>
      
      
          <% @book.book_comments.each do |book_comment| %>
      <tr>
        <td>
             <p><%= image_tag book_comment.user.get_profile_image, size:'50x50' %></p><br>
            <%= book_comment.user.name %>
        </td>
        <td>
            <%= book_comment.comment %>
         
        </td>
          
        </tr>
      </table>
         <% end %>
      <div>
    
        <%= form_with model: [@book, @book_comment] do |f| %>
          <%= f.text_area :comment, rows: '5' %><br>
          <%= f.submit "送信" %>
        <% end %>
      </div>
    </div>
  </div>
</div>