<div class="container">
    

    <% @entries.each do |e| %>
        <% if @myUserId != e.user.id %>
            <h2><%= e.user.name %>さんとのトークルーム</h2>
          </div>
         <% end %>
    <% end %>
    
    <div class="col-lg-4 ml-lg-3">
        <%= link_to "ユーザー一覧に戻る", users_path %>
    </div>
    
    
    <div class="msj-rta macro pt-3">
    
        <div class = "col-lg-7 frame">
        
            <% if @messages.present? %>
                <% @messages.each do |m| %>
                    <% @myUserId == m.user.id %>
                    
                    <div class="text text-r" style="background:whitesmoke !important">
                        <p><%= m.user.name %></p>
                    
                        <p><%= m.message %></p>
                    </div>
                <% end %>
            <% end %>
        </div>
    
    </div>
    
    
    <div class="col-lg-7 ml-lg-3 pt-2">   
        <%= form_for @message do |f| %>
            <%= f.text_field :message, placeholder: "メッセージを入力してください", size: 50, class:"form-text-field" %>
                <%= f.hidden_field :room_id, value: @room.id %>
                    <%= f.submit "投稿", class: 'form-submit'%>
        <% end %>
    </div>

</div>